/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav, .jumbotrun h1 {
	 
	font-family: 'Arvo', courier, serif;
}

ul.nav { 
	font-size: 13px;
 }

#View-Songs {
	background-color: #f5f5f5;
}

.jumbotron {
	text-align: center;
	background-image:url('../images/kadhim.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FE88AA;
    color: #8899A9 ;
    
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}
.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100; 
	padding: 0 50px;


 }
.btn-lg {
	font-size: 36px;
}

h1,p {
	font-family: serif;

}
.emphasis {
	color: red;
}
.homepage { 
	text-align: center;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
 }


.homepage h1 {
	color:#77003C;
	font-family: 'Arvo', courier, serif;
	font-transform: uppercase;

}
.homepage h3 {
	color: #77003C;
	font-family:'Arvo', courier, serif;
	font-transform: uppercase;
	font-size: 30px;

}
.homepage p{
	font-size: 20px;
}


.homepage a{
	color:#77003C;
	font-size: 18px;

}

.homepage hr {
	border-color: #77003C;
	width: 160px;
	margin-top:10px;
	margin-bottom: 40px;
}

.homepage a:hover{
	color: #77003C;
	text-decoration: underline;
	opacity: 0.8;
}

footer {
	background-color: #587997;
	padding: 4px;
}
